@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    background-color: #17162E;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

h1 {
    font-family:'Kumbh Sans', sans-serif;
    color: white;
    font-size: 36px;
    background: none;
    background-color: none;
}

p {
    font-family:'Kumbh Sans', sans-serif;
    color: white;
    font-size: 18px;
    background-color: none;
    background: none;
}





.filme1{
    width: 800px;
    padding: 20px;
    padding-left: 10px;
    margin: 20px;
    background: #1D1C3B;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;

}


.container {
    display: flex;
    order: 0;
    background: #1D1C3B;
    color: white;
    font-family:'Kumbh Sans', sans-serif;
    font-weight: bold;

}
                
.circular--square { 
    max-width: 100%;
    height: auto;
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; 
}

.filme1 p{
    display: flex;
    justify-content: space-between;
}